*{
    font-family: 'IBM Plex Sans Arabic';
}
div{
    margin-top: 5px;
}
header{
    background: #F7E018;
}
header h2{
    position: absolute;
    left: 40%;
    top: 5%;
    font-size: 50px;
}
/* table tr td:hover{
    background: black;
    color: white;
} */
.CVer{
    background: green !important;
}
.CAma{
    background: yellow !important;
}
table{
    margin-top: 1%;
}

#mayor,
#menor{
    font-size: 20px;
    color:darkcyan
}